//---Подключение других библиотек---//
@import "nullstyle.scss";
//-------------------------------------
//---Подключение шрифтов---//
//--- &display=swap - нужно
//---&subset=cyrillic-ext - якщо є кирилиця 

//-------------------------------------
//---Глобалыние стили---//
body {
	font-family: 'Inter', 'Times', serif;
	font-weight: 400;
	font-size: 18px;
	color: #000;
	background-color: #F5F5F5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

