//---Подключение других библиотек---//
@import "nullstyle.scss";
//-------------------------------------
//---Подключение шрифтов---//
//--- &display=swap - нужно
//---&subset=cyrillic-ext - якщо є кирилиця 
@import url('https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mulish:regular&display=swap ');
//-------------------------------------
//---Глобалыние стили---//
body {
	font-family: 'DM Sans', 'Times', serif;
	font-weight: 700;
	font-size: 15px;
	color: var(--black);
	background-color: var(--white);
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1090px;
	padding: 0 10px;
	margin: 0 auto;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 auto;
}

.input {
	border: 1px solid var(--blue);
	border-radius: 10px;
	padding: 19px 14px;
	width: 300px;
	transition: all 0.2s ease-in;

	font-family: 'DM Sans', 'Times', serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 22px;
	letter-spacing: -0.531474px;
	color: var(--black);
}

.input:hover {
	border: 1.5px solid var(--blue);
}
.input:focus {
	border: 2px solid var(--blue);
}


.button {
	text-align: center;
	width: 215px;
	font-weight: 700;
	font-size: 17px;
	line-height: 22px;
	letter-spacing: -0.531474px;

	padding: 19px 60px;
	border-radius: 10px;
	color: var(--white);
	background-color: var(--orange);
	transition: all 0.4s ease-in;
}

.title {
	font-size: 50px;
	line-height: 55px;
	letter-spacing: -2.50105px;
	color: var(--black)	
}

.button-orange {
	color: var(--white);
	background-color: var(--orange);
}

.button-blue {
	border: 1px solid var(--blue);
	background-color: var(--blue);
}

.button-price {
	color: var(--blue);
	width: 285px;
	background: #FFFFFF;
	border: 1.5px solid #EAE9F2;
}


.button-blue:hover {
	color: var(--blue);
	border: 1px solid var(--blue);
	background-color: transparent;
}

.button-transition {
	color: var(--blue);
	border: 1px solid var(--blue);
	background-color: transparent;
}

.button-transition:hover {
	color: var(--white);
	border: 1px solid var(--blue);
	background-color: var(--blue);
}

//------Header-------
.header {
	background-color: var(--orange-light);
	&__body {
		display: flex;
		padding: 38px 0 47px 0;
		justify-content: space-between;
		align-items: center;

	}
	&__button:hover {
		background-color: #f95620;

	}
}
.menu {
	&__list {
		display: flex;
	}

	&__item {
		padding: 0 25px;
	}

	&__link {
		color: var(--gray);
		transition: all 0.2s ease-in;
	}

	&__link:hover {
		color: var(--black);
	}
}

// ------ Hero ------

.hero {
	padding-top: 125px;
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		max-width: 470px;
	}

	&__title {
		font-size: 80px;
		line-height: 77px;
		margin-bottom: 20px;
	}

	&__text {
		font-family: 'Mulish', 'Times', serif;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: -0.625263px;
		color: var(--gray);
		margin-bottom: 50px;
	}

	&__active {
		display: flex;
		justify-content: space-between;
	}

	&__button {
		width: 213px;
	}
}

// ------ Index -----

.index {
	padding-top: 120px;
	&__body {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		width: 556px;
	}

	&__title {
		font-weight: 700;
		font-size: 50px;
		margin-bottom: 38px;
	}

	&__form {
		width: 556px;
		display: inline-flex;
		justify-content: space-between;
	}
}

// ----- price -----

.price {
	padding-top: 85px;
	padding-bottom: 130px;
	&__title {
		max-width: 500px;
		font-size: 60px;
		line-height: 70px;
		margin-bottom: 110px;
	}

	&__list {
		display: flex;
		flex-direction: row;
		text-align: center;
		justify-content: space-between;
	}

	&__item {
		padding: 34px 22px 27px 22px;
		background: #F8F8F8;
		color: var(--gray);
		border-radius: 10px;
		transition: all .4s ease-in;
	}

	&__item:hover {
		background: #FF7143;
		color: var(--white);
		.price__price {
			color: var(--white);
			transition: all 0.2s ease-in;
		}
		.price__button {
			color: var(--white);
			background: var(--oragne-black);
			border: var(--oragne-black);
			transition: all 0.3s ease-in;
		}
		.price__button:hover {
			border: 1.5px solid var(--oragne-black);
			color: var(--white);
			background-color: transparent;
		}
	}

	&__type {
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		letter-spacing: -0.562737px;
		margin-bottom: 20px;
	}

	&__price {
		font-weight: 700;
		font-size: 60px;
		line-height: 56px;
		letter-spacing: -1.03448px;
		color: #1D293F;
		margin-bottom: 28px;
		span {
			font-size: 28px;
		}
	}
	&__characteristics {
		font-family: 'Mulish', 'Times', serif;
		font-weight: 400;
		font-size: 17px;
		letter-spacing: -0.531474px;
		margin-bottom: 40px;
	}
	&__button {
		background: #FFFFFF;
		border: 1px solid #EAE9F2;
	}
}
.characteristics {

	&__item {
		padding: 20px 0;
	}
}

// ----- footer -----

.footer {
	background-color: var(--orange-light);
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 53px;
	}
}


:root {
	--black: #19191B;
	--gray: #696871;
	--white: #ffffff;
	--orange-light: rgba(255, 113, 67, 0.27);
	--oragne-black: #9F3919;
	--orange: #FF7143;
	--blue: #5454D4;
}